#read table data
read.table(file,header=F,sep="") #the output of the table is dataframe, the file canbe the file name, the url from website
\n #for a newline
\t #for a table
\b #for a backspace
#the default for readcsv for header is true

